.post_container{
  min-height: calc(100vh - 80px);

  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.post_container article{
  width: 450px;
  min-height: 400px;
  height: fit-content;
  margin: 1rem;
}

.post_container article h1{
  text-align: center;
  margin: 1rem 0;
}

.post_container article header{

  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0.5rem 0;

}

.post_container article header img{
  border-radius: 50%;
  border: 1px solid gray;
}

.post_container article .textarea{
  
  margin-bottom: 1rem;

}


.post_container article form img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

